
@(repoForm : Form[RepoData])(implicit request: Http.Request, messages: play.i18n.Messages)
@import helper._

<html>
	<head>
		<title>Repos</title>
		<link rel="stylesheet" type="text/css" 
                       href='@routes.Assets.versioned("stylesheets/formStyle.css")'>
	</head>
	<body>
	
	<div class = "title-div">
	<h3> Welcome to Gitterific!</h3>
	</div>
		@helper.form(action= helper.CSRF(routes.HomeController.save())){
			@helper.inputText(repoForm("keyword"))
			<input type="submit" value="Go">
		}
		
	</body>
</html>
